<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/0dfe690dfd.js" crossorigin="anonymous"></script>
</head>
<body class="todoListBody">
    <h1>Todo List:</h1>
    <div class="tasksLeft">
    <ol>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> <i class="fa-solid fa-trash"></i> </span>
            </li>
    <% }) %>    
        </ol>
    </div>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <input class="submitBtn" type="submit">
    </form>

    <div class="logout">
        <a href="/logout">Logout</a>
        </div>

    <script src="js/main.js"></script>
</body>
</html>
